# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Database
*.db

# Output Files
output/*.csv
output/*.xlsx

# Processed Data
data/processed/*.csv

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db